html {
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  color: #000000;
  box-sizing: border-box;
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img { 
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.page_header_top a,
.main_nav a,
.footer_nav a,
.purchase_popup a,
.phone_link {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.page_header_top a:not(:first-child) {
  width: 150px;
  padding-bottom: 12px;
  padding-left: 45px;
  padding-top: 12px;
}

.page_header_top a:last-child {
  padding-left: 0;
  text-align: center;
}

.page_header_top .wrapper {
  display: flex;
  align-items: center;
}

.page_header_middle {
  background-color: #f3f6f8;
  padding-top: 45px;
  padding-bottom: 39px;
}

.page_header_middle .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page_header_top,
.main_nav ul {
  font-size: 17px;
  line-height: 1.059;
  color: #ffffff;
  background-color: #293449;
}

.page_header_cart.empty {
  background-color: transparent;
}

.page_header_logo,
.page_footer_logo,
.about_more-link,
.contacts_feedback-btn {
  background-color: #ee3643;
}

.page_footer .phone_link {
  padding-left: 0;
}

.page_header_logo,
.page_footer_logo {
  display: block;
  width: 220px;
  padding-top: 12px;
  padding-bottom: 9px;
  box-shadow: 0 5px #b52933;
  text-align: center;
}

.page_header_logo:hover,
.page_header_logo:focus,
.page_header_logo:active {
  background-color: #ca2c37;
}

.page_footer_logo {
  /* height: 68px; */
  padding-top: 20px;
  padding-bottom: 12px;

}

.page_header_search {
  position: relative;
  /* left: 17px; */
}

.search_input {
  width: 270px;
  height: 100%;
  background: none;
  font-size: 17px;
  border: none;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-top: 12px;
  position: relative;
  display: inline-block;
  color: #ffffff;
}

.search_input::placeholder {
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif; /* почистить */
  font-size: 17px;
  color: #ffffff;
}

.search_input::-ms-clear {
  width: 0;
  height: 0;
}

.page_header_search svg {
  position: absolute;
  left: 17px;
  top: 2px;
  margin-top: 10px;
  opacity: 30%;
}

.search_input:hover + svg,
.search_input:focus + svg {
  opacity: 1;
}

.search_input:active,
.search_input:focus,
.search_input:focus + svg path {
  background-color: #ffffff;
  color: #000000;
  fill: #ee3643;
  opacity: 1;
}

.page_header_bookmarks,
.page_header_cart {
  position: relative;
}

.page_header_bookmarks::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  top: 12px;
  background-image: url(../img/bookmark.svg);
  opacity: 0.3;
}

.page_header_cart {
  background-color: #ee3643;
  padding-top: 13px;
  padding-bottom: 13px;
}

.page_header_cart::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  top: 12px;
  background-image: url(../img/cart.svg);
  opacity: 0.3;
}

.page_header_bookmarks:hover::before,
.page_header_cart:hover::before,
.page_header_bookmarks:focus::before,
.page_header_cart:focus::before {
  opacity: 1;
}

.page_header_bookmarks:active,
.page_header_cart:active,
.page_header_bookmarks:active::before,
.page_header_cart:active::before {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}


.page_header_purchase {
  background-color: #63a63e;
}

.page_header_purchase:hover,
.page_header_purchase:focus {
  background-color: #5fbb2d;
}

.page_header_purchase:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.page_header_info {
  font-size: 16px;
  font-weight: bold;
  color: #ee3643;
  font-style: italic;
  line-height: 1.438;
  width: 196px;
  margin: 0;
  padding-top: 3px;
  margin-left: 50px;
}

.page_header_contacts {
  font-weight: bold;
  margin-left: 75px;
}

.page_header_contacts a {
  display: block;
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 270px;
  padding-top: 9px;
  padding-bottom: 6px;
  text-align: center;
}

.page_header_contacts p {
  font-size: 14px;
  color: #32425c;
  line-height: 1.714;
  text-align: center;
  margin: 0;
  padding-top: 5px;
}

.phone_link {
  margin-top: 0px;
  padding-left: 25px;
}

.user {
  width: 281px;
  margin-left: auto;
  display: flex;
}

.user_link {
  position: relative;
  font-size: 21px;
  color: #000000;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 48px;
  padding-right: 24px;
  background-color: #ffffff;
  margin-right: 15px;
}

.user ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 230px;
  justify-content: space-between;
}

.user_log-out {
  position: relative;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.user_log-out svg {
  position: absolute;
  width: 21px;
  height: 17px;
  right: 10px;
  top: 14px;
}

.user_log-out:hover path {
  fill: #000000;
} 

.user_account {
  flex-direction: column;
  width: 300px; /*примерно*/
}

.user_account div {
  display: flex;
  margin-bottom: 7px;
}

.user li {
  list-style: none;
  height: 43.75px;
}

.user .user_name {
  position: relative;
  width: 350px;
  font-weight: bold;
  padding: 0;
  padding-top: 11px; 
  margin: 0;
  padding-bottom: 10px;
  padding-left: 47px;
}

.user_name svg {
  position: absolute;
  width: 20px;
  height: 18px;
  left: 13px;
  top: 13px;
}

.user_link:focus path,
.user_link:hover path {
  fill: #000000;
}

.user_link:active,
.user_link:active path {
  fill: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}

.user_link {
  position: relative;  
}

.user_link svg {
  position: absolute; 
  width: 20px;
  height: 17px;
  top: 13px;
  left: 15px; 
}

.user_log-in a:hover,
.user_log-in:hover path {
  color: #ee3643;
  fill: #32425c;
}

.user_log-in a:active,
.user_log-in:active path {
  fill: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
}

.user_registration a{
  padding-left: 20px;
  padding-right: 24px;
}

.user_nav {
  position: relative;
}

.user_nav a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
  line-height: 1.125;
  background-color: transparent;
  margin-left: 18px;
}

.user_nav li:last-child::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 7px;
  background-color: #32425c;
  border-radius: 50%;
}

.user_nav a:hover,
.user_nav a:focus {
  color: #ee3643;
}

.user_nav a:active {
  color: #cbd1d8;
}

.main_nav {
  display: flex;
  background-color: #f3f6f8;
}

.main_nav a {
  display: block;
  padding: 18px 30px 19px;
}

.main_nav a:hover,
.main_nav a:focus {
  background-color: #293449;
}

.main_nav a:active {
  background-color: #1d2739;
  box-shadow: 0 5px #1d2739;
}

.main_nav li {
  list-style: none;
}

.main_nav ul {
  display: flex;
  width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 65px;
  justify-content: space-around;
  align-items: center;
  background-color: #32425c;
  box-shadow: 0 5px #293449;
}

/* MAIN */
/* MAIN > WRAPPER*/
.blocks_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 86px;
  padding-top: 78px;
}

.company_about {
  width: 519px;
}

.company_contacts {
  width: 301px;
}

.about_title,
.contacts_title {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.about_descr,
.contacts_descr {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.5;
}

.about_partners {
  font-size: 18px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 34px;
  line-height: 1.37;
}

.about_partners li:not(:first-child) {
  margin-top: 16px;
}

.about_more-link,
.contacts_feedback-btn {
  display: block;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 10px;
}

.about_more-link {
  width: 220px;
}

.contacts_feedback-btn {
  width: 300px;
}

.contacts_map {
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
  padding: 0;
}

.breadcrumbs a,
.breadcrumbs li,
.catalog {
  color: #000000;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
}

.breadcrumbs a,
.breadcrumbs li {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.384;
  list-style: none;
  margin-right: 10px;
}

.breadcrumbs a.document_index {
  font-size: 0;
}

.breadcrumbs:first-child::before {
  content: "";
  position: relative;
  width: 15px;
  height: 12px;
  background-image: url(../img/breadcrumbs_home.svg);
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 8px;
  height: 12px;
  background-image: url(../img/btn_arrow_right-small.svg);
  margin-left: 4px;
  margin-right: 4px;
}

.page_title {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 30px;
}

/* MAIN > CATALOG */
.catalog {
  display: flex;
}

.catalog_filter {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  width: 220px;
}

.filter_group {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  margin-bottom: 25px;
  margin-top: -5px;
  padding: 0;
}

.filter_group:last-of-type {
  border: none;
}

.filter_group li {
  list-style: none;
  margin-bottom: 21px;
  padding-left: 35px;
}

.filter_group ul {
  padding-left: 0;
}
.filter_group input {
  margin: 0;
  display: none;
}

.filter_group label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter_checkbox + label::before,
.filter_radio + label::before {
  content: "";
  position: absolute;
}


.filter_checkbox + label::before {
  width: 23px;
  height: 23px;
  left: -31px;
  top: 0;
  background-image: url(../img/checkbox_off.svg);
}

.filter_checkbox:checked + label::before {
  background-image: url(../img/checkbox_on.svg);
}

.filter_radio + label::before {
  width: 25px;
  height: 25px;
  left: -33px;
  top: -2px;
  background-image: url(../img/radio_off.svg);
}

.filter_radio:checked + label::before {
  background-image: url(../img/radio_on.svg);
}

.filter_checkbox:disabled + label,
.filter_radio:disabled + label {
  opacity: 0.3;
}

.catalog_filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.765;
  padding: 0;
}

.catalog_filter button {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.384;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  margin-top: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.catalog_goods {
  width: 729px;
  margin-top: 60px; /* отступ под блок сортировки*/
  margin-left: 20px;
}

.catalog_goods ul {
  padding-left: 0;
}

.goods_item {
  position: relative;
  list-style: none;
  width: 220px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-bottom: 21px;
}

.goods_item:focus,
.goods_item:hover {
  box-shadow: 0 10px 25px rgb(41, 52, 73, 0.5);
}



.goods_item article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods_item img {
  order: -1;
}

.goods_item h3 {
  margin-top: 0;
}

.goods_item h3,
.goods_item_price-old,
.goods_item_price {
  display: block;
  text-align: center;
  order: 1;
}

.goods_item_name {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 1.111;
}

.goods_item_price,
.goods_item_price-old {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.059;
  text-align: center;
}

.goods_item_price-old {
  color: #999999;
  padding: 0;
  margin: 0;
  margin-top: -5px;
}

.goods_item_price {
  color: #ffffff;
  position: relative;
  width: 120px;
  background-color: #ee3643;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.goods_item_price::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 30px;
  right: -38px;
  top: 0;
  border: 18px solid transparent;
  border-left: 20px solid #ee3643
}

.goods_item_image + .goods_item_price { 
  margin-top: 20px;
}

.goods_item_popup {
  padding: 43px 35px;
  background-color: #fff;
  position: absolute;
}

.goods_item .goods_item_popup {
  display: none;
}

.goods_item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.goods_item .flag-new {
  background: url(../img/flag_new.png) no-repeat 0 0;
}

.goods_item:hover .goods_item_popup {
  display: block;
}

.goods_item_popup *{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
}

.goods_item_popup button {
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.goods_item_popup a {
  display: block;
  color: #ffffff;
  background-color: #63a63e;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 48px;
  padding-right: 44px;
  box-shadow: 0 5px 0 #367315;
  border-radius: 3px;
  margin-bottom: 13px;
}

.goods_item_popup a:hover {
  background: #5fbb2d;
}

.goods_item_popup a:active {
  background: #518534;
  box-shadow: 0 5px 0 #518534;
}

.goods_item_popup button {
  color: #32425c;
  background-color: transparent;
  padding-top: 7px;
  padding-right: 30px;
  padding-bottom: 6px;
  padding-left: 30px;
  border-radius: 3px;
}

.goods_item_popup button:hover {
  border-color: #32425c;
}

.goods_item_popup button:active {
  border-color: #c1c6ce;
  color: #c1c6ce;

  /* по макету outline при нажатии не увидел, плюс клавиатурой/скринридером 
  на попап не попасть. Поэтому убрал его */
  outline: none;
}

.goods_item_popup a,
.goods_item_popup button {
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
}

.goods_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -15px;
}

.catalog_about {
  background-color: #f2f6f8;
  padding-bottom: 73px;
  padding-top: 63px;
}

.catalog_about_title {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.catalog_about_descr {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.purchase_popup {
  display: none;
}

.purchase_popup p {
  font-size: 30px;
}

.purchase_popup * {
  font-size: 14px;
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.purchase_popup div {
  background-color: #f1f1f1;
}

.purchase_popup a {
  background: #ee3643;
  font-weight: normal;
}

.purchase_popup button {
  background: #ffffff;
}

.feedback_popup {
  display: none;
}

.feedback_popup label {
  font-size: 18px;
  font-weight: bold;
}

.feedback_popup input::placeholder {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
}

.feedback_popup button {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.map_popup {
  display: none;
}

/* FOOTER */
.page_footer {
  font-size: 18px;
  color: #f3f7f9;
  line-height: 1.333;
  background-color: #32425c;
}

.company_address {
  margin: 0;
}

.page_footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.page_footer_logo {
  margin-bottom: 35px;
}

.page_footer_nav li {
  list-style: none;
}

.page_footer_nav li:not(:last-child) {
  margin-right: 60px;
}

.page_footer_nav {
  padding-top: 20px;
}

.footer_nav_opportunity {
  margin-top: 32px;
}

.page_footer_nav ul {
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}

.page_footer_bottom {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.125;
  background-color: #293449;
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 19px;
}

.footer_bottom .wrapper {
  margin-bottom: 0;
}

.footer_bottom_copyright{
  width: 228px;
  margin-right: 40px;
}

.footer_bottom li {
  font-size: 0; /* скрыл чтобы мешали */
  list-style-type: none;
}

.social {
  display: flex;
  /* width: 133px; */
  width: 370px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.social a {
  display: flex;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.social li {
  margin-right: 10px;
}

.footer_nav {
  color: #f1f5f7;
}

.footer_nav_opportunity a,
.footer_bottom_feedback a,
.footer_bottom_developer a {
  color: #ffd180;
}

.footer_bottom_feedback {
  width: 140px;
}

.footer_bottom_developer {
  width: 112px;
  margin-left: 50px;
}

.footer_nav a:hover,
.footer_nav a:focus,
.footer_bottom_feedback a:hover,
.footer_bottom_feedback a:focus,
.footer_bottom_developer a:hover,
.footer_bottom_developer a:focus {
  text-decoration: underline;
}

.footer_bottom_developer a:active,
.footer_bottom_feedback a:active {
  color: #ee3643;
  text-decoration: none;
}
.footer_nav a:active {
  opacity: 0.5;
  text-decoration: none;
}