html {
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  color: #000000;
  box-sizing: border-box;
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img { 
  max-width: 100%;
}

.wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.page_header_top a,
.main_nav a,
.footer_nav a,
.purchase_popup a,
.phone_link {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.page_header_top a:not(:first-child) {
  width: 150px;
}

.page_header_top .wrapper {
  display: flex;
  align-items: center;
}

.page_header_middle {
  background-color: #f3f6f8;
  padding-top: 45px;
  padding-bottom: 33px;
}

.page_header_middle .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page_header_top,
.main_nav ul {
  font-size: 17px;
  line-height: 1.059;
  color: #ffffff;
  background-color: #293449;
}

.page_header_logo,
.page_footer_logo,
.about_more-link,
.contacts_feedback-btn {
  background-color: #ee3643;
}

.page_header_logo,
.page_footer_logo {
  display: block;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  box-shadow: 0 5px #b52933;
  text-align: center;
}

.page_footer_logo {
  /* height: 68px; */
  padding-top: 22px;
  padding-bottom: 17px;

}

.page_header_search {
  width: 270px;
}

.page_header_search input {
  background: none;
  border: none;
}

.page_header_search input::placeholder {
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif; /* почистить */
  font-size: 17px;
  color: #ffffff;
}

.page_header_cart {
  background-color: #ee3643;
  /* height: 100%; */
  padding-top: 13px;
  padding-bottom: 13px;
}

.page_header_purchase {
  background-color: #63a63e;
  padding-top: 13px;
  padding-bottom: 13px;
}

.page_header_info {
  font-size: 16px;
  font-weight: bold;
  color: #ee3643;
  font-style: italic;
  line-height: 1.438;
  width: 196px;
  margin: 0;
  margin-left: 43px;
}

.page_header_contacts {
  font-weight: bold;
  margin-left: 65px;
}

.page_header_contacts a {
  display: block;
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.page_header_contacts p {
  font-size: 14px;
  color: #32425c;
  line-height: 1.714;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.user {
  width: 281px;
  margin-left: auto;
  display: flex;
}

.user_link {
  font-size: 21px;
  color: #000000;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  text-align: center;
}

.user ul {
  display: flex;
  padding: 0;
  width: 281px;
  justify-content: space-between;
}

.user_log-out {
  font-size: 0;
  width: 45px;
}

.user_account {
  flex-direction: column;
}

.user_account div {
  display: flex;
}

.user_account ul {
  justify-content: start;
}

.user li {
  list-style: none;
}

.user_log-in {
  width: 121px;
}

.user .user_name {
  width: 254px;
  font-weight: bold;
}

.user_registration {
  width: 150px;
}

.main_nav {
  display: flex;
  background-color: #f3f6f8;
}

.user_nav a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
  line-height: 1.125;
  background-color: transparent;
  margin-left: 18px;
}

.main_nav li {
  list-style: none;
  padding: 19px 30px;
}

.main_nav ul {
  display: flex;
  width: 940px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 59px;
  justify-content: space-around;
  align-items: center;
  background-color: #32425c;
  box-shadow: 0 5px #293449;
}

/* MAIN */
/* MAIN > WRAPPER*/
.blocks_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 86px;
  padding-top: 82px;
}

.company_about {
  width: 519px;
}

.company_contacts {
  width: 301px;
}

.about_title,
.contacts_title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about_descr,
.contacts_descr {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 40px;
}

.about_partners {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}

.about_partners li:not(:first-child) {
  margin-top: 16px;
}

.about_more-link,
.contacts_feedback-btn {
  display: block;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.about_more-link {
  width: 220px;
}

.contacts_feedback-btn {
  width: 300px;
  margin-top: 40px;
}

.breadcrumbs {
  display: flex;
  padding-left: 0;
}

.breadcrumbs a,
.breadcrumbs li,
.catalog {
  color: #000000;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
}

.breadcrumbs a,
.breadcrumbs li {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.384;
  list-style: none;
  margin-right: 10px;
}

.page_title {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 30px;
}

/* MAIN > CATALOG */
.catalog {
  display: flex;
}

.catalog_filter {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  width: 220px;
}

.filter_group {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 10px;
  padding: 0;
}

.filter_group:last-child {
  border: none;
}

.filter_group li {
  list-style: none;
}

.filter_group ul {
  padding-left: 0;
}
.filter_group input {
  margin: 0;
}

.catalog_filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.765;
  padding: 0;
}

.catalog_filter button {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.384;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  margin-top: 75px;
  padding-top: 15px;
  padding-bottom: 14px;
}

.catalog_goods {
  max-width: 699px;
  margin-left: 20px;
}

.catalog_goods ul {
  padding-left: 0;
}

.goods_item {
  list-style: none;
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.goods_item article {
  display: flex;
  flex-direction: column;
}

.goods_item img {
  order: -1;
}

.goods_item h3,
.goods_item_price-old,
.goods_item_price {
  display: block;
  text-align: center;
  order: 1;
}

.goods_item_name {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 1.111;
}

.goods_item_price,
.goods_item_price-old {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.059;
  text-align: center;
}

.goods_item_price-old {
  color: #999999;
}

.goods_item_price {
  color: #ffffff;
  background-color: #ee3643;
  padding-top: 13px;padding-bottom: 13px;
}

.goods_item_image + .goods_item_price { 
  margin-top: 35px;
}

.goods_item_popup *{
  display: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
}

.goods_item_popup button {
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.goods_item_popup a {
  color: #ffffff;
  background-color: #63a63e;
}

.goods_item_popup button {
  color: #32425c;
}

.goods_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.catalog_about {
  background-color: #f2f6f8;
  padding-bottom: 73px;
}

.catalog_about_title {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 67px;
}

.catalog_about_descr {
  font-size: 14px;
}

.purchase_popup {
  display: none;
}

.purchase_popup p {
  font-size: 30px;
}

.purchase_popup * {
  font-size: 14px;
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.purchase_popup div {
  background-color: #f1f1f1;
}

.purchase_popup a {
  background: #ee3643;
  font-weight: normal;
}

.purchase_popup button {
  background: #ffffff;
}

.feedback_popup {
  display: none;
}

.feedback_popup label {
  font-size: 18px;
  font-weight: bold;
}

.feedback_popup input::placeholder {
  font-size: 13px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
}

.feedback_popup button {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.map_popup {
  display: none;
}

/* FOOTER */
.page_footer {
  font-size: 18px;
  color: #f3f7f9;
  line-height: 1.333;
  background-color: #32425c;
}

.company_address {
  margin: 0;
}

.page_footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.page_footer_logo {
  margin-bottom: 30px;
}

.page_footer_nav li {
  list-style: none;
}

.page_footer_nav li:not(:last-child) {
  margin-right: 60px;
}

.page_footer_nav {
  padding-top: 24px;
}

.footer_nav_opportunity {
  margin-top: 32px;
}

.page_footer_nav ul {
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
}

.page_footer_bottom {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.125;
  background-color: #293449;
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 19px;
}

.footer_bottom .wrapper {
  margin-bottom: 0;
}

.footer_bottom_copyright{
  width: 228px;
}

.footer_bottom li {
  font-size: 0; /* скрыл чтобы мешали */
  list-style-type: none;
}

.footer_bottom ul {
  display: flex;
  width: 133px;
  margin-left: 160px;
  margin-right: 118px;
  padding-left: 0;
}

.footer_nav {
  color: #f1f5f7;
}

.footer_nav_opportunity a,
.footer_bottom_feedback a,
.footer_bottom_developer a {
  color: #ffd180;
}

.footer_bottom_feedback {
  width: 140px;
}

.footer_bottom_developer {
  width: 112px;
  margin-left: 50px;
}